name: Terraform

on:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Terraform
      run: |
        apt-get update
        apt-get install -y unzip
        wget https://releases.hashicorp.com/terraform/0.12.26/terraform_0.12.26_linux_amd64.zip
        unzip terraform_0.12.26_linux_amd64.zip
        mv terraform /usr/local/bin/
        terraform -v
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    - name: Terraform plan
      run: terraform plan
    - name: Terraform apply
      run: terraform apply -auto-approve
